input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
img{
  width: 20px;
  height: 20px;
}
@keyframes animation{
  0%{
    background-size: 100% 100%;
  } 50% {
    background-size: 150% 175%;
  } 100% {
    background-size:  100% 100%;
  }
}
.container__master{
  background:linear-gradient(45deg, #69341C, #E8743F, #888, white) ;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  animation: animation ease 3.5s infinite;
}
.container__main{
  margin-top: 30px;
  width: 80%;
  height: 85%;
  background-color: rgba(224, 221, 221, 0.918);
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 10px rgba(0,0, 0, 0.8);
  border-radius: 10px;
}

.container__title{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
}

.container__left__subtitle{
  margin: 40px 30px;
}
.container__left{
  padding: 0 30px;
  display: flex;
  align-items: stretch;
}

.container__left__rendimento {
  display: inline;
  margin-right:25px; 
}

.container__left__rendimento img{
  vertical-align: middle;
  margin-left: 30px;
  margin-bottom: 2px;
}
.container__left__rendimento span{
  color: #777;
  margin-right: 25px;
}

.container__left__indexacao {
  display: inline;
}

.container__left__indexacao img{
  vertical-align: middle;
  margin-left: 30px;
  margin-bottom: 2px;
}
.container__left__indexacao span{
  color: #777;
  margin-right: 25px;
}



.left__form{
  display: flex;
  flex-direction: column;
  padding: 30px 0px 15px;
}
.left__form input[type="number"]{
  border: none;
  border-bottom: 1px solid #777;
  background: none;
  outline: none;
  padding: 5px;
  margin: 15px 0px;
  border-radius: 5px;
  transition: all ease .5s;
  color: #000;
}
.left__form input[type="text"]{
  border: none;
  border-bottom: 1px solid #777;
  background: none;
  outline: none;
  padding: 5px;
  margin: 15px 0px;
  border-radius: 5px;
  transition: all ease .5s;
  color: #000;
}

.left__form input:focus{
 border-bottom: 1px solid red;
}

.right__form{
  display: flex;
  flex-direction: column;
  padding: 30px 0px 15px;
}
.right__form input[type="number"]{
  border: none;
  border-bottom: 1px solid #777;
  background: none;
  outline: none;
  padding: 5px;
  margin: 15px 0px;
  border-radius: 5px;
  transition: all ease .5s;
  color: #000;
}
.right__form input[type="text"]{
  border: none;
  border-bottom: 1px solid #777;
  background: none;
  outline: none;
  padding: 5px;
  margin: 15px 0px;
  border-radius: 5px;
  transition: all ease .5s;
  color: #000;
}
.right__form input:focus{
  border-bottom: 1px solid red;
 }

 #aporte__inicial::placeholder, #aporte__mensal::placeholder{
   color: #000;
 }
 

.container__left__bottom{
  display: flex;
  justify-content: center;
  width: 400px;
}
.container__left__bottom button{
  border: none;
  border-radius: 10px;
  margin-right: 15px;
  padding: 15px 45px;
  cursor: pointer;
}
#btn__clear{
  background: rgba(180, 148, 148, 0.856);
  color: #000;
  font-weight: bold;
  transition: all ease .2s;
}
#btn__submit{
  background-color: #F05F17;
  color: #ffff;
  transition: all ease .2s;
}
#btn__clear:hover, #btn__submit:hover{
  box-shadow: 0px 0px 10px 2px rgb(15, 15, 15);
}
.custom__radio{
vertical-align: middle;
display: inline-block;
margin-bottom: 30px;
}
.custom__radio_2{
vertical-align: middle;
display: inline-block;
margin-bottom: 30px;

}

input[type="radio"]{
  display: none;
}
#bruto + label{
  cursor: pointer;
  border: 1px solid #000;
  margin: 0px;
  border-radius: 100px 0px 0px 100px;
  padding:10px 25px;
  background-color: aliceblue;
  transition: all ease .25s;
  
}
#bruto:checked + label{
  background-color: #E8743F;
  color: #fff;
}
#liquido + label{
  cursor: pointer;
  border: 1px solid #000;
  margin: 0px;
  border-radius: 0px 100px 100px 0px;
  padding:10px 20px;
  background-color: aliceblue;
  transition: all ease .25s;

}
#liquido:checked + label{
  background-color: #E8743F;
  color: #fff;
}

#pre + label{
  border: 1px solid #000;
  padding:10px 25px;
  background-color: aliceblue;
  border-radius: 100px 0px 0px 100px;
  transition: all ease .25s;
  cursor: pointer;


}
#pre:checked + label{
  background-color: #E8743F;
  color: #fff;
}
#pos + label{
  border: 1px solid #000;
  padding:10px 25px;
  background-color: aliceblue;
  transition: all ease .25s;
  cursor: pointer;
}
#fixado + label{
  border: 1px solid #000;
  padding:10px 15px;
  background-color: aliceblue;
  border-radius: 0px 100px 100px 0px;
  transition: all ease .25s;
  cursor: pointer;
}
#pos:checked + label{
  background-color: #E8743F;
  color: #fff;
}
#fixado:checked + label{
  background-color: #E8743F;
  color: #fff;
}


